<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="225" comments="Total jamat" colour="primary" type="university" goto="dashboard.jamat"></stats>
        <stats number="4000" comments="Total members" colour="primary" type="group" goto="dashboard.viewmember"></stats>
        <stats number="1500" comments="Total male" colour="yellow" type="male"></stats>
        <stats number="2500" comments="Total female" colour="red" type="female"></stats>

    </div>


    <!-- /.row -->
</div>