<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">View Members</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Member Details
            </div>
            <div class="panel-body">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Jamat Name</label>
                                <input class="form-control" ng-model='newJamat.name'>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Jamat City</label>
                                <input class="form-control" ng-model='newJamat.city'>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Jamat State</label>
                                <input class="form-control" ng-model='newJamat.state'>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click='addJamat(newJamat)'>Save</button>
                            </div>
                        </div>
                </div>
                </form>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                All Jamats
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>City</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="jamat in jamats">
                                <td>{{$index + 1}}</td>
                                <td>{{jamat.name}}</td>
                                <td>{{jamat.city}}</td>
                                <td>{{jamat.state}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->

</div>